        </main> <!-- end of main -->

        <!--
        <footer class="bg-secondary p-3 text-white">
            <h6>{{ texts.title }}</h6>
            <small>© Copyright 2021</small>
        </footer>
        -->

    </div> <!-- end of #app -->

</body>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/app.js"></script>

</html>