<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Bootstrap</title>
    <link rel="icon" href="data:,"> <!-- prevent favicon.ico requests  -->
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>

    <div v-cloak id="app" class="h-100">

        <!-- Main -->
        <main class="container-fluid h-100 p-0">