<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My app</title>
    <link rel="icon" href="data:,"> <!-- prevent favicon.ico requests  -->
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>

    <%- include("./nav") -%>

    <div v-cloak id="app" class="container-fluid p-4">