<%- include("./partials/top-index") -%>

    <main class="container-fluid flex-fill">
        <div class="row mb-4">
            <div class="col m-0 p-0">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators" v-for="(slide, index) in carousel">
                        <li data-target="#carouselExampleIndicators" v-for="(slide, index) in carousel"
                            v-bind:key="index" v-bind:data-slide-to="index" :class="{'active' : index === 0}">
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item" v-for="(slide, index) in carousel" v-bind:key="index"
                            :class="{'active' : index === 0}">
                            <img class=" d-block w-100" :src="slide.image" :alt="slide.title">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>
                                    {{ slide.title }}
                                </h5>
                                <p>
                                    {{ slide.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <div class="card-group">
                            <div class="card" v-for="card in cards">
                                <img class="card-img-top" :src="card.image" alt=":card.title">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        {{ card.title %> }}
                                    </h5>
                                    <p class="card-text">
                                        {{ card.description }}
                                    </p>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            Last updated 3 mins ago
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include("./partials/footer-home") -%>