<%- include("./partials/top") -%>

    <div class="row align-items-center h-100">
        <div class="col-7">
            <h1 class="text-center">
                {{ texts.title }}
            </h1>

        </div>
        <div class="col-5 bg-light border border-top-0 border-right-0 border-bottom-0 h-100">
            <div class="row align-items-center h-100 p-5">
                <div class="col">
                    <h4 class="py-4">Login</h4>

                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">E-mail</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Senha</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>

                        <button type="submit" class="btn btn-success">Entrar</button>
                    </form>

                    <div class="alert alert-info text-center mt-5" role="alert">
                        Ainda não tem uma conta? <a href="/register" class="alert-link">Cadastre-se</a> já.
                    </div>

                </div>
            </div>
        </div>
    </div>



    <%- include("./partials/bottom") -%>